# Analyzing consecutive range bars with 0 close_diff

In [47]:
import numpy as np
import warnings
import pandas as pd
import pyperclip as clip
import humanize
import ta
warnings.filterwarnings('ignore', category=FutureWarning)

In [48]:
output_path = '../../tmp-data/ss_range_bars.new.csv'

In [49]:
df = pd.read_csv('../../data/btcusdt-1year-1m-merged.csv', usecols=['timestamp', 'open', 'high', 'low', 'close', 'volume'])
df['date'] = pd.to_datetime(df['timestamp']).dt.date 
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.set_index('timestamp', inplace=True)
df.sort_index(inplace=True)
df.rename(columns={'close': 'Close', 'open': 'Open', 'high': 'High', 'low': 'Low'}, inplace=True)
df

                        Open     High      Low    Close    volume        date
timestamp
2022-04-13 17:24:00  41068.2  41117.7  41049.5  41049.9   441.006  2022-04-13
2022-04-13 17:25:00  41049.9  41058.0  41026.3  41038.4   135.343  2022-04-13
2022-04-13 17:26:00  41038.4  41040.1  41016.1  41033.5   122.119  2022-04-13
2022-04-13 17:27:00  41033.5  41049.9  41028.7  41042.4    99.750  2022-04-13
2022-04-13 17:28:00  41042.4  41082.0  41042.4  41064.7    94.091  2022-04-13
...                      ...      ...      ...      ...       ...         ...
2023-04-14 16:39:00  30106.7  30110.0  30060.0  30077.1  1025.613  2023-04-14
2023-04-14 16:40:00  30077.1  30077.1  30005.0  30060.1  2517.757  2023-04-14
2023-04-14 16:41:00  30060.0  30096.7  30050.6  30087.8   782.435  2023-04-14
2023-04-14 16:42:00  30087.8  30097.9  30078.9  30084.1   469.883  2023-04-14
2023-04-14 16:43:00  30084.1  30109.6  30084.1  30108.4   593.486  2023-04-14

[527000 rows x 6 columns]

In [50]:
def adr(df: pd.DataFrame) -> float:
    daily_high_low = df.groupby(  # type: ignore
                'date')[['High', 'Low']].agg(['max', 'min']) # type: ignore
    high_max: pd.Series = daily_high_low[('High', 'max')]
    low_min: pd.Series = daily_high_low[('Low', 'min')]
    # convert the Series to numeric values
    high_max = pd.to_numeric(high_max, errors='coerce')
    low_min = pd.to_numeric(low_min, errors='coerce')
    adr = high_max - low_min # type: ignore
    daily_high_low['adr'] = adr
    average_adr = np.mean(daily_high_low['adr']).item()  # type: ignore
    return average_adr

def relative_adr_range_size(df_in: pd.DataFrame, resample_arg: str = 'W'):
    # resample the dataframe into monthly periods
    groups = df_in.resample(resample_arg)
    df_out = pd.DataFrame()
    for _, group in groups:
        week_day_seg = group.copy()
        average_adr = adr(week_day_seg)
        week_day_seg['average_adr'] = average_adr
        df_out = pd.concat([df_out, week_day_seg])
    return df_out

def adv(df: pd.DataFrame, window=14) -> pd.Series:
    result = df['volume'].rolling(window=window).mean()
    result.fillna(0, inplace=True)
    return result

In [51]:
cp = df.copy()
df2 = relative_adr_range_size(cp)
df2['adv'] = adv(cp)
df2

,Open,High,Low,Close,volume,date,average_adr,adv
timestamp,,,,,,,,
2022-04-13 17:24:00,41068.2,41117.7,41049.5,41049.9,441.006,2022-04-13,1129.86,0.000000
2022-04-13 17:25:00,41049.9,41058.0,41026.3,41038.4,135.343,2022-04-13,1129.86,0.000000
2022-04-13 17:26:00,41038.4,41040.1,41016.1,41033.5,122.119,2022-04-13,1129.86,0.000000
2022-04-13 17:27:00,41033.5,41049.9,41028.7,41042.4,99.750,2022-04-13,1129.86,0.000000
2022-04-13 17:28:00,41042.4,41082.0,41042.4,41064.7,94.091,2022-04-13,1129.86,0.000000
...,...,...,...,...,...,...,...,...
2023-04-14 16:39:00,30106.7,30110.0,30060.0,30077.1,1025.613,2023-04-14,1080.54,890.640286
2023-04-14 16:40:00,30077.1,30077.1,30005.0,30060.1,2517.757,2023-04-14,1080.54,1048.165500
2023-04-14 16:41:00,30060.0,30096.7,30050.6,30087.8,782.435,2023-04-14,1080.54,1091.794429
2023-04-14 16:42:00,30087.8,30097.9,30078.9,30084.1,469.883,2023-04-14,1080.54,1104.667286
2023-04-14 16:43:00,30084.1,30109.6,30084.1,30108.4,593.486,2023-04-14,1080.54,1135.592143

In [52]:
for index, row in df.iterrows():
        print(type(index))
        break

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [53]:
def create_range_bar_df_erroneous(df: pd.DataFrame):
    range_bars = []
    current_bar = {'filler': 0, 'filler_seq': 0,  'adv': df.iloc[0]['adv'], 'volume': df.iloc[0]['volume'], 'average_adr': df.iloc[0]['average_adr'], 'timestamp': df.index.to_series(
    )[0], 'Open': df.iloc[0]['Open'], 'High': df.iloc[0]['High'], 'Low': df.iloc[0]['Low'], 'Close': df.iloc[0]['Close']}
    current_high = current_bar['High']
    current_low = current_bar['Low']
    filler_bars = 0

    for index, row in df.iterrows():
        idx: pd.Timestamp = index # type: ignore
        high = row['High']
        low = row['Low']
        range_size = row['average_adr'] * 0.1

        if high - current_low >= range_size:
            current_bar['Close'] = current_low + range_size
            range_bars.append(current_bar)

            num_bars = int((high - current_low - range_size) // range_size)
            for i in range(num_bars):
                current_bar = {'filler': 1, 'filler_seq': i, 'timestamp': idx + pd.Timedelta(seconds=(i + 1)), 'adv': row['adv'], 'volume': row['volume'], 'average_adr': row['average_adr'], 'Open': current_low + range_size * (
                    i), 'High': current_low + range_size * (i + 1), 'Low': current_low + range_size * (i), 'Close': current_low + range_size * (i + 1)}
                # print(f'adjusted timestamp: {current_bar["timestamp"]}')
                filler_bars += 1
                range_bars.append(current_bar)

            current_bar = {'filler': 0, 'filler_seq': 0, 'volume': row['volume'] * num_bars, 'average_adr': row['average_adr'], 'adv': row['adv'], 'timestamp': idx,
                           'Open': current_low + range_size * num_bars, 'High': high, 'Low': current_low + range_size * num_bars, 'Close': row['Close']}
            current_high = high
            current_low = current_bar['Low']

        elif current_high - low >= range_size:
            current_bar['Close'] = current_high - range_size
            range_bars.append(current_bar)

            num_bars = int((current_high - low - range_size) // range_size)
            for i in range(num_bars):
                current_bar = {'filler': 1, 'filler_seq': i, 'timestamp': idx + pd.Timedelta(seconds=(i + 1)), 'adv': row['adv'], 'volume': row['volume'], 'average_adr': row['average_adr'], 'Open': current_high - range_size * (
                    i + 1), 'High': current_high - range_size * (i), 'Low': current_high - range_size * (i + 1), 'Close': current_high - range_size * (i + 1)}
                # print(f'adjusted timestamp: {current_bar["timestamp"]}')
                filler_bars += 1
                range_bars.append(current_bar)

            current_bar = {'filler': 0, 'filler_seq': 0, 'volume': row['volume'] * (num_bars + 1), 'average_adr': row['average_adr'], 'adv': row['adv'], 'timestamp': idx,
                           'Open': current_high - range_size * (num_bars + 1), 'High': current_high - range_size * num_bars, 'Low': low, 'Close': row['Close']}
            current_high = current_bar['High']
            current_low = low
        else:
            current_high = max(current_high, high)
            current_low = min(current_low, low)
            current_bar['timestamp'] = idx
            current_bar['High'] = current_high
            current_bar['Low'] = current_low
            current_bar['filler'] = 0
            current_bar['filler_seq'] = 0
            current_bar['Close'] = row['Close']
            current_bar['average_adr'] = row['average_adr']
            current_bar['volume'] = row['volume']
            current_bar['adv'] = row['adv']

    return pd.DataFrame(range_bars), filler_bars

In [54]:
df2.columns

Index(['Open', 'High', 'Low', 'Close', 'volume', 'date', 'average_adr', 'adv'], dtype='object')

In [55]:
def create_range_bar_df(df: pd.DataFrame) -> pd.DataFrame:
    # Initialize an empty DataFrame with the same columns as df
    range_bars = pd.DataFrame(columns=df.columns)
    # Initialize variables for the first range bar
    range_open = df.iloc[0]['Close']
    range_high = df.iloc[0]['High']
    range_low = df.iloc[0]['Low']
    index_timestamp = df.index[0]
    # Carry over inactive columns
    volume = df.iloc[0]['volume'],
    date = df.iloc[0]['date'],
    average_adr = df.iloc[0]['average_adr'],
    adv = df.iloc[0]['adv']
    # Loop through the OLHC data and create the range bars
    for index, row in df.iterrows():
        timestamp = index

        # Calculate the range size based on the average ADR
        range_size = row['average_adr'] * 0.1

        # Check if a new range bar needs to be created
        if abs(row['High'] - range_open) >= range_size:
            # Calculate the close of the previous range bar
            range_close = df.loc[(index_timestamp, 'Close')]  # type: ignore
            # Add the previous range bar to the range_bars DataFrame
            prev_range_bar = pd.DataFrame({
                'Open': range_open,
                'High': range_high,
                'Low': range_low,
                'Close': range_close,
                'volume': volume,
                'date': date,
                'average_adr': average_adr,
                'adv': adv
            }, index=[index_timestamp])
            range_bars = pd.concat([range_bars, prev_range_bar])
            # Initialize variables for the new range bar
            range_open = df.loc[(index_timestamp, 'Close')]  # type: ignore
            range_high = row['High']
            range_low = row['Low']
            index_timestamp = timestamp
            # Carry over inactive columns
            volume = row['volume'],
            date = row['date'],
            average_adr = row['average_adr'],
            adv = row['adv']
        # Update the range_high and range_low variables
        else:
            range_high = max(range_high, row['High'])
            range_low = min(range_low, row['Low'])

    # Add the last range bar to the range_bars DataFrame
    range_close = df['Close'].iloc[-1]
    last_range_bar = pd.DataFrame({
        'Open': range_open,
        'High': range_high,
        'Low': range_low,
        'Close': range_close,
        'volume': volume,
        'date': date,
        'average_adr': average_adr,
        'adv': adv
    }, index=[index_timestamp])
    range_bars = pd.concat([range_bars, last_range_bar])
    return range_bars

In [56]:
rb_df = create_range_bar_df(df2.copy())
rb_df

,Open,High,Low,Close,volume,date,average_adr,adv
2022-04-13 17:24:00,41049.9,41117.7,40900.0,41049.9,441.006,2022-04-13,1129.86,0.000000
2022-04-13 17:37:00,41049.9,40920.0,40868.1,40877.1,519.711,2022-04-13,1129.86,298.022643
2022-04-13 17:38:00,40877.1,40935.2,40856.5,40916.3,429.064,2022-04-13,1129.86,297.169643
2022-04-13 17:46:00,40916.3,41079.0,40877.4,41002.5,1234.364,2022-04-13,1129.86,335.670500
2022-04-13 18:06:00,41002.5,41099.8,40999.9,41076.2,485.166,2022-04-13,1129.86,109.918214
...,...,...,...,...,...,...,...,...
2023-04-14 15:06:00,30419.2,30483.6,30208.0,30421.4,1424.554,2023-04-14,1080.54,1333.085143
2023-04-14 15:27:00,30421.4,30300.0,30209.1,30264.7,2991.446,2023-04-14,1080.54,1205.790357
2023-04-14 15:28:00,30264.7,30315.6,30080.1,30255.1,4117.652,2023-04-14,1080.54,1434.383357
2023-04-14 16:32:00,30255.1,30179.3,30100.0,30154.1,1631.169,2023-04-14,1080.54,570.386786
2023-04-14 16:37:00,30154.1,30130.3,30005.0,30108.4,3756.659,2023-04-14,1080.54,802.054286

In [57]:
# Calculate the difference between the current close and the last close
close_diff = rb_df['Close'] - rb_df['Close'].shift(1)
range_size = rb_df['average_adr'] * 0.1

df2 = rb_df.copy()
df2['range_size'] = range_size
df2['close_diff'] = close_diff

In [58]:
import numpy as np
# Set a tolerance level for comparing the two columns
tolerance = 1e-6
# Count how many times range_size and close_diff are within the tolerance level
count = np.isclose(df2['range_size'], abs(df2['close_diff']), rtol=tolerance).sum()
count_zero = (df2['close_diff'] == 0).sum()
print(f'In a rb df of size {humanize.intcomma(len(df2))}: the range_size and close_diff columns are close in value {humanize.intcomma(count)} times. {humanize.intcomma(count_zero)} the diff is zero')

In a rb df of size 16,279: the range_size and close_diff columns are close in value 0 times. 23 the diff is zero

In [59]:
cols = ['adv', 'average_adr', 'Open', 'High', 'Low']
fillers_df = df2.copy().drop(columns=cols)
fillers_df

                       Close    volume        date  range_size  close_diff
2022-04-13 17:24:00  41049.9   441.006  2022-04-13     112.986         NaN
2022-04-13 17:37:00  40877.1   519.711  2022-04-13     112.986      -172.8
2022-04-13 17:38:00  40916.3   429.064  2022-04-13     112.986        39.2
2022-04-13 17:46:00  41002.5  1234.364  2022-04-13     112.986        86.2
2022-04-13 18:06:00  41076.2   485.166  2022-04-13     112.986        73.7
...                      ...       ...         ...         ...         ...
2023-04-14 15:06:00  30421.4  1424.554  2023-04-14     108.054         2.2
2023-04-14 15:27:00  30264.7  2991.446  2023-04-14     108.054      -156.7
2023-04-14 15:28:00  30255.1  4117.652  2023-04-14     108.054        -9.6
2023-04-14 16:32:00  30154.1  1631.169  2023-04-14     108.054      -101.0
2023-04-14 16:37:00  30108.4  3756.659  2023-04-14     108.054       -45.7

[16279 rows x 5 columns]

In [60]:
diff_less_range = fillers_df[(abs(fillers_df['close_diff']) < fillers_df['range_size'])]
print(f"{humanize.intcomma(len(diff_less_range))}")
diff_less_range

11,021

                       Close    volume        date  range_size  close_diff
2022-04-13 17:38:00  40916.3   429.064  2022-04-13     112.986        39.2
2022-04-13 17:46:00  41002.5  1234.364  2022-04-13     112.986        86.2
2022-04-13 18:06:00  41076.2   485.166  2022-04-13     112.986        73.7
2022-04-13 18:20:00  41157.5  1383.569  2022-04-13     112.986        81.3
2022-04-13 18:25:00  41166.6   661.537  2022-04-13     112.986         9.1
...                      ...       ...         ...         ...         ...
2023-04-14 12:47:00  30651.7  1409.742  2023-04-14     108.054        16.3
2023-04-14 15:06:00  30421.4  1424.554  2023-04-14     108.054         2.2
2023-04-14 15:28:00  30255.1  4117.652  2023-04-14     108.054        -9.6
2023-04-14 16:32:00  30154.1  1631.169  2023-04-14     108.054      -101.0
2023-04-14 16:37:00  30108.4  3756.659  2023-04-14     108.054       -45.7

[11021 rows x 5 columns]

In [61]:
diff_great_range = fillers_df[(abs(fillers_df['close_diff']) > fillers_df['range_size'])]
print(f"{humanize.intcomma(len(diff_great_range))}")
diff_great_range

5,257

                       Close    volume        date  range_size  close_diff
2022-04-13 17:37:00  40877.1   519.711  2022-04-13     112.986      -172.8
2022-04-13 18:59:00  41344.2   282.746  2022-04-13     112.986       119.3
2022-04-13 19:06:00  41444.8  2662.546  2022-04-13     112.986       147.0
2022-04-13 20:19:00  41169.4   220.131  2022-04-13     112.986       162.4
2022-04-13 21:32:00  41156.4   145.612  2022-04-13     112.986      -143.6
...                      ...       ...         ...         ...         ...
2023-04-14 07:39:00  30779.9   583.175  2023-04-14     108.054      -178.2
2023-04-14 08:49:00  30667.1   292.976  2023-04-14     108.054      -133.8
2023-04-14 12:46:00  30635.4  1841.582  2023-04-14     108.054      -144.3
2023-04-14 15:05:00  30419.2  3083.251  2023-04-14     108.054      -232.5
2023-04-14 15:27:00  30264.7  2991.446  2023-04-14     108.054      -156.7

[5257 rows x 5 columns]

In [62]:
zero_close_diff = fillers_df[(fillers_df['close_diff'] == 0) | (fillers_df.shift(1)['close_diff'] == 0) | (fillers_df.shift(-1)['close_diff'] == 0)]
zero_close_diff

                       Close   volume        date  range_size  close_diff
2022-04-17 15:33:00  40437.5  404.050  2022-04-17  112.986000       165.7
2022-04-17 15:34:00  40437.5   99.735  2022-04-17  112.986000         0.0
2022-04-17 16:56:00  40227.0  877.655  2022-04-17  112.986000      -210.5
2022-05-05 13:23:00  39376.4  582.725  2022-05-05  199.917143      -416.7
2022-05-05 13:24:00  39376.4  247.959  2022-05-05  199.917143         0.0
...                      ...      ...         ...         ...         ...
2023-01-03 15:47:00  16651.0  165.958  2023-01-03   23.108571         0.0
2023-01-03 16:08:00  16675.0  306.436  2023-01-03   23.108571        24.0
2023-01-06 13:56:00  16760.0  236.088  2023-01-06   23.108571       -26.2
2023-01-06 14:01:00  16760.0  152.275  2023-01-06   23.108571         0.0
2023-01-06 14:34:00  16779.7  748.283  2023-01-06   23.108571        19.7

[69 rows x 5 columns]

In [63]:
near_zero_diff = df2[(df2['close_diff'] == 0) | (df2.shift(1)['close_diff'] == 0) | (df2.shift(-1)['close_diff'] == 0)]
near_zero_diff.to_clipboard()
near_zero_diff

,Open,High,Low,Close,volume,date,average_adr,adv,range_size,close_diff
2022-04-17 15:33:00,40271.8,40450.3,40399.1,40437.5,404.050,2022-04-17,1129.860000,107.879357,112.986000,165.7
2022-04-17 15:34:00,40437.5,40473.0,40250.0,40437.5,99.735,2022-04-17,1129.860000,112.293857,112.986000,0.0
2022-04-17 16:56:00,40437.5,40292.2,40211.0,40227.0,877.655,2022-04-17,1129.860000,273.573571,112.986000,-210.5
2022-05-05 13:23:00,39793.1,39400.1,39346.0,39376.4,582.725,2022-05-05,1999.171429,195.396429,199.917143,-416.7
2022-05-05 13:24:00,39376.4,39412.0,39150.0,39376.4,247.959,2022-05-05,1999.171429,208.350286,199.917143,0.0
...,...,...,...,...,...,...,...,...,...,...
2023-01-03 15:47:00,16651.0,16673.3,16643.7,16651.0,165.958,2023-01-03,231.085714,258.762571,23.108571,0.0
2023-01-03 16:08:00,16651.0,16675.4,16668.4,16675.0,306.436,2023-01-03,231.085714,296.655071,23.108571,24.0
2023-01-06 13:56:00,16786.2,16771.8,16756.7,16760.0,236.088,2023-01-06,231.085714,705.922929,23.108571,-26.2
2023-01-06 14:01:00,16760.0,16776.2,16731.0,16760.0,152.275,2023-01-06,231.085714,391.681786,23.108571,0.0
2023-01-06 14:34:00,16760.0,16784.0,16768.9,16779.7,748.283,2023-01-06,231.085714,404.807429,23.108571,19.7

In [64]:
# zero_diff_removed = rb_df[(rb_df['Close'].shift(1) != rb_df['Close'])]
# zero_diff_removed

In [65]:
# calculate MACD with custom parameters
macd = ta.trend.MACD(rb_df['Close'], window_slow=26, window_fast=12, window_sign=9, fillna=True)
# add MACD values to the dataframe as new columns
rb_df['macd'] = macd.macd()
rb_df['macd_signal'] = macd.macd_signal()
rb_df['macd_histogram'] = macd.macd_diff()
rb_df.dropna(inplace=True)

bb = ta.volatility.BollingerBands(rb_df['Close'], window=12, window_dev=2, fillna=True)
# add upper and lower Bollinger Bands to the dataframe as new columns
rb_df['bb_upper'] = bb.bollinger_hband()
rb_df['bb_lower'] = bb.bollinger_lband()
rb_df['bb_distance'] = bb.bollinger_hband() - bb.bollinger_lband()

rsi = ta.momentum.RSIIndicator(rb_df['Close'], window=7, fillna=True).rsi()
rb_df['rsi'] = rsi

rb_df['signal'] = 0

In [66]:
class RangeBarStrategy:
    
    long_indexes = []
    short_indexes = []
    anti_squeeze_distance = 10
  
    def __init__(self, df):
        self.df = df
        self.updated_df = pd.DataFrame()

    def bb_upper_near(self, index, row):
        try:
            upper_series = self.df.iloc[:index+1]['bb_upper']
            if len(upper_series) < 2:
                return False
            # print(f'upper_series:\n{str(upper_series)}')
            close = row['Close']
            since = self.iterations_back_till_condition(upper_series, lambda x: x >= close)
            # print(f'bb_upper_near(upper_series >= close): index: {index}, close: {close}, since: {since}')
            return since < 2
        except Exception as e:
            print(f'bb_upper_near: exception: {e.__cause__}')
            raise e
        

    def bb_lower_near(self, index, row):
       try:
         lower_series = self.df.iloc[:index+1]['bb_lower']
         if len(lower_series) < 2:
                return False
        #  print(f'lower_series:\n{str(lower_series)}')
         close = row['Close']
         since = self.iterations_back_till_condition(lower_series, lambda x: x <= close)
        #  print(f'bb_lower_near(lower_series <= close): index: {index}, close: {close}, since: {since}')
         return since < 2
       except Exception as e:
            print(f'bb_lower_near: exception: {e.__cause__}')
            raise e
       
    def iterations_back_till_condition(self, series, condition):
        count = 0
        for value in series[::-1]:
            if condition(value):
                break
            count += 1
        return count
       
    def bb_upper_pointing_up(self, index):
        from scipy.stats import linregress
        bb_seg = self.df.iloc[index-3:index+1]['bb_upper']
        # print(f'bb_seg: {len(bb_seg)}')
        if len(bb_seg) > 0:
            seg_len = len(bb_seg)
            try:
                slope, _, _, _, _ = linregress(range(seg_len), bb_seg)
                # print(f'bb_upper_pointing_up: seg_len: {seg_len}, slope: {slope}')
                return slope > 0
            except Exception as e:
                print(f'bb_upper_pointing_up: exception: {str(e)}')
        return False

    def bb_lower_pointing_down(self, index):
        from scipy.stats import linregress
        bb_seg = self.df.iloc[index-3:index+1]['bb_lower']
        # print(f'bb_seg: {len(bb_seg)}')
        if len(bb_seg) > 0:
            seg_len = len(bb_seg)
            try:
                slope, _, _, _, _ = linregress(range(seg_len), bb_seg)
                # print(f'bb_lower_pointing_down: seg_len: {seg_len}, slope: {slope}')
                return slope < 0
            except Exception as e:
                print(f'bb_lower_pointing_down: exception: {str(e)}')  
           
        return False
    
    def scan(self):
        for index, row in self.df.iterrows():
            try:
                numeric_index = self.df.index.get_loc(index)
                # print(f'numeric_index: {numeric_index}')
                updated_row = self.next(row, numeric_index, index)
                self.df.loc[index] = updated_row
                if numeric_index % 10000 == 0:
                    print(f'progress index: {index}')
            except Exception as e:
                print(f'next: exception: {str(e)}')

    def next(self, row, numeric_index, index):
        is_long_rsi = row['rsi'] > 70
        is_long_macd = row['macd'] > row['macd_signal'] > 0
        is_bb_upper_near = self.bb_upper_near(numeric_index, row)
        is_bb_upper_pointing_up = self.bb_upper_pointing_up(numeric_index)

        is_short_rsi = row['rsi'] < 30
        is_short_macd = row['macd'] < row['macd_signal'] < 0
        is_bb_lower_near = self.bb_lower_near(numeric_index, row)
        is_bb_lower_pointing_down = self.bb_lower_pointing_down(numeric_index)

        is_volume_above_adv_limit = row['volume'] > 0 and row['volume'] > row['adv']
        is_bb_dist_above = row['bb_distance'] > self.anti_squeeze_distance

        if is_long_rsi and is_long_macd and is_bb_upper_near and is_bb_upper_pointing_up and is_bb_dist_above:
            self.long_indexes.append(index)
            row['signal'] = 1
        elif is_short_rsi and is_short_macd and is_bb_lower_near and is_bb_lower_pointing_down and is_bb_dist_above and is_volume_above_adv_limit:
            row['signal'] = -1
            self.short_indexes.append(index)
        else:
            row['signal'] = 0
        return row

In [67]:
df_sample = rb_df
strategy = RangeBarStrategy(df_sample)
strategy.scan()
print(f'long_indexes: {len(strategy.long_indexes)}')
print(f'short_indexes: {len(strategy.short_indexes)}')

progress index: 2022-04-13 17:24:00
progress index: 2022-11-14 07:24:00
long_indexes: 1534
short_indexes: 740

In [68]:
df_sample.index.name = 'timestamp'
df_sample.to_csv(output_path)