In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(f'../data/create_range_bar_kline_payload.csv', parse_dates=['timestamp'], index_col='timestamp')
df

,start_time,symbol,interval,first_trade_id,last_trade_id,open,close,high,low,volume,number_of_trades,is_closed,quote_asset_volume,taker_buy_asset_volume,taker_buy_quote_asset_volume,close_time,date,average_adr,adv
timestamp,,,,,,,,,,,,,,,,,,,
2023-04-21 08:09:00,NaN,btcusdt,NaN,NaN,NaN,28110.5,28112.7,28133.8,28106.9,525.685,4383,NaN,1.478067e+07,288.190,8.103166e+06,1.682065e+12,2023-04-21,792.775,839.898857
2023-04-21 08:10:00,NaN,btcusdt,NaN,NaN,NaN,28112.8,28111.9,28128.5,28106.0,511.938,4232,NaN,1.439416e+07,235.965,6.634498e+06,1.682065e+12,2023-04-21,792.775,835.339143
2023-04-21 08:11:00,NaN,btcusdt,NaN,NaN,NaN,28111.8,28116.8,28131.6,28110.0,341.551,3780,NaN,9.604337e+06,161.877,4.551877e+06,1.682065e+12,2023-04-21,792.775,783.951071
2023-04-21 08:12:00,NaN,btcusdt,NaN,NaN,NaN,28116.7,28105.0,28120.5,28095.4,681.277,4742,NaN,1.914614e+07,251.451,7.066507e+06,1.682065e+12,2023-04-21,792.775,799.757714
2023-04-21 08:13:00,NaN,btcusdt,NaN,NaN,NaN,28105.1,28099.9,28105.1,28093.9,371.027,3174,NaN,1.042554e+07,153.566,4.315020e+06,1.682065e+12,2023-04-21,792.775,779.535786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 08:06:00.000,NaN,btcusdt,NaN,NaN,NaN,29426.3,29420.0,29430.0,29420.0,327.569,3155,NaN,9.638992e+06,118.488,3.486776e+06,1.682669e+12,2023-04-28,1406.780,246.815643
2023-04-28 08:07:00.000,NaN,btcusdt,NaN,NaN,NaN,29420.0,29405.4,29420.1,29405.4,375.609,3129,NaN,1.104801e+07,84.516,2.485939e+06,1.682669e+12,2023-04-28,1406.780,261.408714
2023-04-28 08:08:00.000,NaN,btcusdt,NaN,NaN,NaN,29405.5,29411.3,29428.4,29403.7,448.892,4707,NaN,1.320253e+07,278.196,8.182124e+06,1.682669e+12,2023-04-28,1406.780,280.288357
2023-04-28 08:08:59.999,1.682669e+12,BTCUSDT,1m,258327985.0,258328035.0,29224.0,29310.7,29484.8,29222.1,59.297,51,True,1.739521e+06,26.538,7.817592e+05,NaN,2023-04-28,1406.780,271.547500
2023-04-28 08:09:00.000,NaN,btcusdt,NaN,NaN,NaN,29411.3,29411.4,29411.4,29411.3,19.034,271,NaN,5.598160e+05,13.430,3.949951e+05,1.682669e+12,2023-04-28,1406.780,257.731000

In [2]:
df.columns

Index(['start_time', 'symbol', 'interval', 'first_trade_id', 'last_trade_id',
       'open', 'close', 'high', 'low', 'volume', 'number_of_trades',
       'is_closed', 'quote_asset_volume', 'taker_buy_asset_volume',
       'taker_buy_quote_asset_volume', 'close_time', 'date', 'average_adr',
       'adv'],
      dtype='object')

In [3]:
cols_to_convert = [
                    'open', 'close', 'high', 'low', 'volume', 
                    'number_of_trades', 'quote_asset_volume', 
                    'taker_buy_asset_volume',
                    'taker_buy_quote_asset_volume', 
                    'average_adr',
                    'adv'
                ]
df[cols_to_convert] = df[cols_to_convert].apply(lambda x: pd.to_numeric(x, errors='coerce'))
df

,start_time,symbol,interval,first_trade_id,last_trade_id,open,close,high,low,volume,number_of_trades,is_closed,quote_asset_volume,taker_buy_asset_volume,taker_buy_quote_asset_volume,close_time,date,average_adr,adv
timestamp,,,,,,,,,,,,,,,,,,,
2023-04-21 08:09:00,NaN,btcusdt,NaN,NaN,NaN,28110.5,28112.7,28133.8,28106.9,525.685,4383,NaN,1.478067e+07,288.190,8.103166e+06,1.682065e+12,2023-04-21,792.775,839.898857
2023-04-21 08:10:00,NaN,btcusdt,NaN,NaN,NaN,28112.8,28111.9,28128.5,28106.0,511.938,4232,NaN,1.439416e+07,235.965,6.634498e+06,1.682065e+12,2023-04-21,792.775,835.339143
2023-04-21 08:11:00,NaN,btcusdt,NaN,NaN,NaN,28111.8,28116.8,28131.6,28110.0,341.551,3780,NaN,9.604337e+06,161.877,4.551877e+06,1.682065e+12,2023-04-21,792.775,783.951071
2023-04-21 08:12:00,NaN,btcusdt,NaN,NaN,NaN,28116.7,28105.0,28120.5,28095.4,681.277,4742,NaN,1.914614e+07,251.451,7.066507e+06,1.682065e+12,2023-04-21,792.775,799.757714
2023-04-21 08:13:00,NaN,btcusdt,NaN,NaN,NaN,28105.1,28099.9,28105.1,28093.9,371.027,3174,NaN,1.042554e+07,153.566,4.315020e+06,1.682065e+12,2023-04-21,792.775,779.535786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-28 08:06:00.000,NaN,btcusdt,NaN,NaN,NaN,29426.3,29420.0,29430.0,29420.0,327.569,3155,NaN,9.638992e+06,118.488,3.486776e+06,1.682669e+12,2023-04-28,1406.780,246.815643
2023-04-28 08:07:00.000,NaN,btcusdt,NaN,NaN,NaN,29420.0,29405.4,29420.1,29405.4,375.609,3129,NaN,1.104801e+07,84.516,2.485939e+06,1.682669e+12,2023-04-28,1406.780,261.408714
2023-04-28 08:08:00.000,NaN,btcusdt,NaN,NaN,NaN,29405.5,29411.3,29428.4,29403.7,448.892,4707,NaN,1.320253e+07,278.196,8.182124e+06,1.682669e+12,2023-04-28,1406.780,280.288357
2023-04-28 08:08:59.999,1.682669e+12,BTCUSDT,1m,258327985.0,258328035.0,29224.0,29310.7,29484.8,29222.1,59.297,51,True,1.739521e+06,26.538,7.817592e+05,NaN,2023-04-28,1406.780,271.547500
2023-04-28 08:09:00.000,NaN,btcusdt,NaN,NaN,NaN,29411.3,29411.4,29411.4,29411.3,19.034,271,NaN,5.598160e+05,13.430,3.949951e+05,1.682669e+12,2023-04-28,1406.780,257.731000